<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>로그인 페이지</h1>
    <hr />
    <a
        href="https://kauth.kakao.com/oauth/authorize?client_id=63404b992b07996d8135f990f10c2911&redirect_uri=http://localhost:8080/callback&response_type=code&scope=account_email">카카오로그인</a>
</body>

</html>